#content.app-pdfdraw {
  min-height: calc(100% - 50px);
  width: 100%;
}

#app > iframe {
  position: absolute;
  vertical-align: top;
}

.directDownload #annotateFile {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.textLayer {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.cursor {
  border: 1px solid #ccc;
  padding: 4px;
  background-color: white;
  z-index: 100;
}

#presentationMode,
#openFile,
#print,
#download,
#viewBookmark,
#secondaryToolbarToggle,
.verticalToolbarSeparator {
  display: none !important;
}

.noneMode::before {
  -webkit-mask-image: url("../img/icon-notool.svg");
  mask-image: url("../img/icon-notool.svg");
}

.selectMode::before {
  -webkit-mask-image: url("../img/icon-select.svg");
  mask-image: url("../img/icon-select.svg");
}

.pointerMode::before {
  -webkit-mask-image: url("../img/icon-pointer.svg");
  mask-image: url("../img/icon-pointer.svg");
}

.freehandMode::before {
  -webkit-mask-image: url("../img/icon-freehand.svg");
  mask-image: url("../img/icon-freehand.svg");
}

.rectangleMode::before {
  -webkit-mask-image: url("../img/icon-rectangle.svg");
  mask-image: url("../img/icon-rectangle.svg");
}

.ellipseMode::before {
  -webkit-mask-image: url("../img/icon-ellipse.svg");
  mask-image: url("../img/icon-ellipse.svg");
}

.lineMode::before {
  -webkit-mask-image: url("../img/icon-line.svg");
  mask-image: url("../img/icon-line.svg");
}

.textMode::before {
  -webkit-mask-image: url("../img/icon-text.svg");
  mask-image: url("../img/icon-text.svg");
}

/*
// Provided by viewer.css
.toolbarButton.download::before {
  -webkit-mask-image: url("../img/icon-download.svg");
  mask-image: url("../img/icon-download.svg");
}
*/

.secondaryToolbar.drawMenuToolbar {
  padding: 0;
  right: 94px !important;
  line-height: 0 !important;
}

.secondaryToolbar.drawMenuToolbar .toolbarButton {
  margin: 2px 1px;
  position: relative;
  float: left;
}

#settingsDialog {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 48px;
  right: 16px;
  z-index: 10000;
  padding: 20px;
  border-radius: 20px;
}

#settingsDialog label {
  display: block;
  color: white;
}

.settings-field {
  margin-top: 1em;
}

.settings-field input {
  width: 100%;
}

.toolbarButton.close::before {
  display: block;
  content: " ";
  background-image: url("../img/toolbarButton-secondaryToolbarClose.svg");
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

#drawModeToolbar .dropdown {
  background: url("../img/icon-dropdown.svg");
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  margin-top: -2px;
}

.userlist {
  display: none;
  position: absolute;
  left: 0;
  transition-duration: 200ms;
  transition-timing-function: ease;
  z-index: 9999;
  top: 32px;
  padding: 10px;
  background-color: rgba(1, 1, 1, 0.3);
  border-radius: 8px;
  color: white;
}

.sidebarOpen .userlist {
  left: 200px;
  left: var(--sidebar-width);
  transition-duration: 200ms;
  transition-timing-function: ease;
}

#connectionError {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  left: 50%;
  top: 50%;
  z-index: 100000;
  padding: 20px;
  border-radius: 20px;
  margin-left: -200px;
  width: 400px;
  color: rgb(255, 38, 0);
  font-weight: bold;
  text-align: center;
}

#connectingMessage {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  left: 50%;
  top: 50%;
  z-index: 100000;
  padding: 20px;
  border-radius: 20px;
  margin-left: -200px;
  width: 400px;
  color: white;
  text-align: center;
}

#downloadInProgress {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  left: 50%;
  top: 50%;
  z-index: 100000;
  padding: 20px;
  border-radius: 20px;
  margin-left: -200px;
  width: 400px;
  color: white;
  text-align: center;
}

#downloadFailed {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  left: 50%;
  top: 50%;
  z-index: 100000;
  padding: 20px;
  border-radius: 20px;
  margin-left: -200px;
  width: 400px;
  color: rgb(255, 38, 0);
  font-weight: bold;
  text-align: center;
}

.readonly .hiddenReadonly {
  display: none !important;
}

.page.hiddenPage {
  margin: 0;
  border: 0;
  height: 0 !important;
}

.page.hiddenPage canvas {
  display: none;
}

.page.hiddenPage div {
  display: none;
}

.toolbarButton.selected {
  background-color: hsla(0, 0%, 0%, 0.12);
  background-image: linear-gradient(hsla(0, 0%, 100%, 0.05), hsla(0, 0%, 100%, 0));
  background-clip: padding-box;
  border: 1px solid hsla(0, 0%, 0%, 0.35);
  border-color: hsla(0, 0%, 0%, 0.32) hsla(0, 0%, 0%, 0.38) hsla(0, 0%, 0%, 0.42);
  /* stylelint-disable-next-line max-line-length */
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.05) inset, 0 0 1px hsla(0, 0%, 100%, 0.15) inset, 0 1px 0 hsla(0, 0%, 100%, 0.05);
}

.textareaContainer {
  position: absolute !important;
  border: none;
  width: 300px;
  max-width: 300px;
}

.textareaContainer textarea {
  height: 200px;
  max-height: 200px;
  width: calc(100% - 2em);
  max-width: calc(100% - 2em);
  margin: 1em;
  box-shadow: none;
}

.textareaContainer .deleteButton {
  width: 20%;
  height: 25px;
  float: right;
  margin-bottom: 5px;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}

.textareaContainer .deleteButton[disabled] {
  cursor: default;
}

.textareaContainer .author {
  cursor: default;
  display: inline-block;
  margin-top: 12px;
  margin-left: 12px;
  padding: 0.5em;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 4px;
  user-select: none;
}
